html, body{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    background-color: lightsalmon;
    height: 100vh;
}
.btn-sm{
    height: 2.1rem;
    border-radius: 8%;
}
.mainContainer{
    height: 100vh;
    background-color: lightgreen;
}

.bgColor1{
    background-color: #e8e2e3;
}
.searchHeight{
    height: 10%;
}
.navHeight{
    height: 76%;
}
.feedbackHeight{
    height: 14%;
}
.overFlow-control{
    overflow-y: auto;
    height: 70%;
}
.bgColor2{
    background-color: #f5efef;
}
.nav-top{
    height: 4rem;
    
}
.textColor{
    color: #5d5c5c;
}
.codeContainer{
    height: 15rem;    
}
.iconAlign{
    position: relative;
    left: -3rem;
}
.hoverEffect :hover{
    background-color: #3e92fc;
    color: white;
    border-radius: 0.6rem;
}

.myButton {
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%);
	background-color:#f9f9f9;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#666666;
	font-family:Arial;
	font-size:15px;
	font-weight:550;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}
.myButton:hover {
	background:linear-gradient(to bottom, #e9e9e9 5%, #f9f9f9 100%);
	background-color:#e9e9e9;
}
.myButton:active {
	position:relative;
	top:1px;
}
.fedButton {
	box-shadow:inset 0px 1px 3px 0px #91b8b3;
	background:linear-gradient(to bottom, #768d87 5%, #6c7c7c 100%);
	background-color:#768d87;
	border-radius:5px;
	border:1px solid #566963;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:11px 23px;
	text-decoration:none;
	text-shadow:0px -1px 0px #2b665e;
}
.fedButton:hover {
	background:linear-gradient(to bottom, #6c7c7c 5%, #768d87 100%);
	background-color:#6c7c7c;
}
.fedButton:active {
	position:relative;
	top:1px;
}
